<div class="modal-header">
  <h4 class="modal-title pull-left">{{header}}</h4>
  <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="close()">
    <span aria-hidden="true" class="visually-hidden">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="todoItemForm">
    <div class="form-group row">
      <label for="title" class="col-sm-3 col-form-label">Title : </label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="title" formControlName="title">
        <div *ngIf="getTitle.invalid && (getTitle.dirty || getTitle.touched)">
          <small class="text-danger" *ngIf="getTitle?.errors['required']">Please enter a Title</small>
        </div>
      </div>
    </div>
    <div class="form-group row mt-3">
      <label for="description" class="col-sm-3 col-form-label">Description : </label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="description" formControlName="description">
        <div *ngIf="getDescription.invalid && (getDescription.dirty || getDescription.touched)">
          <small class="text-danger" *ngIf="getDescription?.errors['required']">Please enter a description</small>
        </div>
      </div>
    </div>
    <div class="form-group row mt-3">
      <label for="startTime" class="col-sm-3 col-form-label">Start Time :</label>
      <div class="col-sm-9">
        <div class="input-group">
          <input
          class="form-control"
          type="text"
          mwlFlatpickr
          formControlName = "startDate"
          [altInput]="true"
          [convertModelValue]="true"
          [enableTime]="true"
          dateFormat="Y-m-dTH:i"
          altFormat="F j, Y H:i"
          allowInput = true
          />
          <span class="input-group-text" style="font-size: 1rem;">
            <i class="fa fa-calendar" aria-hidden="true"></i>
          </span>
        </div>
        <div *ngIf="getStartDate.invalid && getStartDate.dirty">
          <small class="text-danger" *ngIf="getStartDate?.errors['required']">Please select a start date</small>
        </div>
      </div>
    </div>
    <div class="form-group row mt-3">
      <label for="endTime" class="col-sm-3 col-form-label">End Time :</label>
      <div class="col-sm-9">
        <div class="input-group">
          <input
          class="form-control"
          type="text"
          mwlFlatpickr
          formControlName = "endDate"
          [altInput]="true"
          [convertModelValue]="true"
          [enableTime]="true"
          dateFormat="Y-m-dTH:i"
          altFormat="F j, Y H:i"
          allowInput = true
          />
          <span class="input-group-text" style="font-size: 1rem;">
            <i class="fa fa-calendar" aria-hidden="true"></i>
          </span>
        </div>
        <div *ngIf="getEndDate.invalid && getEndDate.dirty">
          <small class="text-danger" *ngIf="getEndDate?.errors['required']">Please select a end date</small>
        </div>
        <small class="text-danger" *ngIf="errorMessageDateTime">{{errorMessageDateTime}}</small>
      </div>
    </div>
  </form>
</div>
<div class="text-right mr-3" style="color:gray;" *ngIf="todoItem !== undefined && todoItem.createdDate !== null">Created Date : {{todoItem.createdDate | date: 'YYYY-MM-dd HH:mm:ss'}}</div>
<div class="text-right mr-3" style="color:gray;" *ngIf="todoItem !== undefined && todoItem.modifyDate !== null">Modify Date : {{todoItem.modifyDate | date: 'YYYY-MM-dd HH:mm:ss'}} </div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" *ngIf="buttonName === 'Create'" (click)="createTodoItem()">{{buttonName}}</button>
  <button type="button" class="btn btn-primary" *ngIf="buttonName === 'Edit'" (click)="editTodoItem(eventId)">{{buttonName}}</button>
  <button type="button" class="btn btn-danger" (click)="deleteTodoItem(eventId)" *ngIf="buttonName !== 'Create'">Delete</button>
</div>
<app-loading *ngIf=isLoading></app-loading>
