<div class="modal-header">
  <h4 class="modal-title pull-left">{{title}}</h4>
  <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="close()">
    <span aria-hidden="true" class="visually-hidden">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="todoItemForm">
    <div class="form-group row">
      <label for="title" class="col-sm-3 col-form-label">Title : </label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="title">
      </div>
    </div>
    <div class="form-group row mt-3">
      <label for="description" class="col-sm-3 col-form-label">Description : </label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="description">
      </div>
    </div>
    <div class="form-group row mt-3">
      <label for="startTime" class="col-sm-3 col-form-label">Start Time :</label>
      <div class="col-sm-9">
        <input
        class="form-control"
        type="text"
        mwlFlatpickr
        formControlName = "startDate"
        [altInput]="true"
        [convertModelValue]="true"
        [enableTime]="true"
        dateFormat="Y-m-dTH:i"
        altFormat="F j, Y H:i"
        />
      </div>
    </div>
    <div class="form-group row mt-3">
      <label for="endTime" class="col-sm-3 col-form-label">End Time :</label>
      <div class="col-sm-9">
        <input
        class="form-control"
        type="text"
        mwlFlatpickr
        formControlName = "endDate"
        [altInput]="true"
        [convertModelValue]="true"
        [enableTime]="true"
        dateFormat="Y-m-dTH:i"
        altFormat="F j, Y H:i"
        />
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" *ngIf="buttonName === 'Create'" (click)="createTodoItem()">{{buttonName}}</button>
  <button type="button" class="btn btn-danger" (click)="deleteTodoItem()" >Delete</button>
</div>
